            /* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@200&family=Tiro+Devanagari+Hindi&display=swap');
             
           /* Body da página */
* {
  margin: 0;
  padding: 0;
}

body
{
  background-image: url(/Images/fundo3.jpg);
  background-repeat: repeat-y;
  background-position: right;
}

        /* Header - o cabeçalho */
header
{
  background-image: url(/Images/fundo_cab.jpg);
  background-repeat: no-repeat;
  height: 100px;
}

header img
{
  float: left;
  margin-top: 5px; /* Distância de cima*/
  margin-left: 8px; /* Distância da esquerda*/
}

header h1
{
  position: relative;
  top: 30px;
  font-family: 'Josefin Sans', sans-serif;
  color: #695B58;
  font-size: 40px;
  text-indent: 10px; /* Espaçamento do texto de algum elemento*/
  animation: bg 4s infinite;
}

@keyframes bg {
  50% {
    color: #3E3232;
  }
}

              /* Rodapé */
footer p
{
  margin-top: -614px;
  width: 800px;
  background-color: #B392AC;
  font-family: 'Josefin Sans', sans-serif;
  color: #FFFFFF;
  text-indent: 180px;
}

          /* Destaque Livraria */
.Destaque-Livraria
{
  border-bottom: 1px solid #C69898;
  width: 330px;
  margin-left: 150px;
  top: -250px;
}

.Destaque-Livraria h2
{
  position: absolute;
  font-size: 40px;
  margin-top: 51px;
  text-indent: 20px;
  display: inline;
  padding-bottom: 50px;
  font-family: 'Tiro Devanagari Hindi', serif;
  color: #B392AC;
}

.Destaque-Livraria img
{
  display: inline;
  margin-top: 50px;
  margin-left: 0;
  padding-bottom: 10px;
}


             /* Tabela */
table
{
  position: relative;
  margin-top: 40px;
  margin-left: 200px;
  transform: scale(1.1);
}

table #titulo-do-livro
{
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  color: #5F5454;
  text-align: center;
  display: block;
}

table #valor-do-livro
{
  display: block;
  text-align: center;
  font-size: 10px;
  color: #B392AC;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 4px;
  font-weight: bold;
}

table .destaque4
{
  height: 165px;
}

table .destaque6
{
  top: -2px;
  height: 165px;
}

table tr td
{
  padding: 10px;
}

table td
{
  border-bottom-style: dotted;
  padding: -29px;
  color: #C6C6C6;
}

.comprar 
{
  position: relative;
  left: 18px;
  animation: 0.6s;
  cursor: pointer;
}

.comprar:hover
{
  filter: sepia(0.9);
}


             /* Top 5*/
#menu-direito
{
  position: relative;
  top: -599px;
  left: -180px;
  float: right;
  border-left: 2px dotted #C69898;
  border-right: 2px dotted #C69898;
  height: 738px;
}

#menu-direito img 
{
  position: relative;
  left: 25px;
  display: block;
  padding: 5px;
  margin-top: 1px;
}

#menu-direito h1
{
  background-color: #B28C8C;
  text-align: center;
  color: white;
  width: 140px;
}


              /* Menu */
#menu-esquerdo
{
  position: relative;
  top: -599px;
  background-color: #715D5D;
  width: 137px;
  height: 750px;
}

#menu-esquerdo h1
{
  background-color: #715D5D;
  text-align: center;
  color: white;
  width: 137px;
  top: -100px;
}

#menu-esquerdo a
{
  position: relative;
  text-indent: 9px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  color: #000000;
  font-size: 12px;
  cursor: pointer;
  animation: 0.6s;
}

#menu-esquerdo li 
{
  list-style: url(/Images/seta_menu.gif);
  background-color: #C1A3A3;
  border-bottom-style: solid;
  border-bottom-color: #827777;
  color: white;
  padding: 9px;
  width: 119px;
  height: 20px;
  cursor: pointer;
  animation: 0.6s;
}

#menu-esquerdo li:hover
{
  background-color: #B392AC;
  padding: 9px;
  width: 119px;
  height: 20px;
}

#menu-esquerdo li a
{
  top: -13px;
}
